---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import Card from '../../ui/cards/FeatureCard.astro'

// Content
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty"><strong>Trending</strong> Articles on Dream Interpretation</h2> 
			<p class="pb-0 text-lg">
				Explore our most popular articles on dream interpretation. Gain insights into the meanings behind common dreams and what they might reveal about your subconscious mind.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="What Does It Mean to Dream About Snakes?"
				subtitle="Dive into the symbolism and interpretations of dreaming about snakes, and what these dreams may reveal about your subconscious thoughts."
				image={feature02}
				link="/blog/what-does-it-mean-to-dream-about-snakes"
			/>
			<Card
				title="What Does It Mean to Dream That You Fall and Wake Up?"
				subtitle="Understand the significance of falling dreams and why they often cause you to wake up suddenly. Discover what your mind might be processing during these dreams."
				image={feature02}
				link="/blog/what-does-it-mean-to-dream-that-you-fall-and-wake-up"
			/>
			<Card
				title="What Does It Mean to Dream That You Fly?"
				subtitle="Uncover the meanings behind dreams of flying and how they might reflect your desires for freedom or control in your waking life."
				image={feature03}
				link="/blog/what-does-it-mean-to-dream-that-you-fly"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="What Does It Mean to Dream About Getting Lost?"
				subtitle="Learn about the common interpretations of dreams where you feel lost and how these might relate to challenges or uncertainties in your waking life."
				image={feature04}
				link="/blog/what-does-it-mean-to-dream-about-getting-lost"
			/>
			<Card
				title="What Does It Mean to Dream About Winning the Lottery?"
				subtitle="Explore the symbolic meanings behind dreams of winning the lottery and how they might reflect your deepest hopes and fears."
				image={feature05}
				link="/blog/what-does-it-mean-to-dream-about-winning-the-lottery"
			/>
			<Card
				title="What Does It Mean to Dream That Your Teeth Fall Out?"
				subtitle="Discover the meanings behind dreams where your teeth fall out and what these dreams might indicate about your anxieties or personal insecurities."
				image={feature02}
				link="/blog/what-does-it-mean-to-dream-that-your-teeth-fall-out"
			/>
		</Col>
	</Row>
</Section>
